{% extends 'base.html' %}
{% load static %}
{% load metamemoapp_extras %}
{% block title %}Metamemo - Metamix{% endblock %}
{% block page_class %}list{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <h3>Metamix</h3>

    <div class="row">
        <div class="col s12 m8">
        {% for post in posts %}
        <div class="row">
        
        
            <h2>{{post.title}}</h2>
            <b>{{post.updated_on}}</b>

            {{post.content|safe|truncatewords_html:50}}

            <a href="{% url 'blog' post.slug %}" class='align-right'>Ler mais</a>
        </div>
            {% endfor %}
    </div>
        
    <div class="col s12 m4">
        <h2>Sobre</h2>
        <p>Lorem ipsum sic dolor</p>
    </div>
    </div>
</div>
{% endblock %}