{% extends 'base.html' %}
{% load static %}
{% load metamemoapp_extras %}
{% block title %}Metodologia | MetaMemo{% endblock %}
{% block page_class %}metodologia{% endblock %}

{% block content %}
<header class="container">
<h1 class="center-align fontNormal font48">
  METODOLOGIA <br>
  <b class="fontBold">METAMEMO</b>
</h1>
<div class="row">
  <div class="col offset-s2 s8 offset-m5 m2">
    <div class="back-metaondas mini"></div>
  </div>
</div>
</header>
<section class="container">
  <div class="row conteudo-colunas">
    <div class="col s12 offset-m2 m4">
      <div>
        <h2><i class="icon-question-octagon valign-middle"></i> 1 - O QUE É </h2>
        <p>METAMEMO é um sistema criado para coletar, armazenar, processar e visualizar as memórias de um perfil nas principais plataformas de redes sociais da internet. O objetivo é preservar e facilitar a análise desse conteúdo por parte de ativistas, jornalistas e pesquisadores.</p>
        <p>Um metamemo é uma coleção de dados, metadados e mídias agregadas de publicações de um ou mais perfis de redes sociais em um único arquivo.</p>
      </div>
      <div>
        <h2><i class="icon-patch-question valign-middle"></i> 2 - COMO FUNCIONA? </h2>
        <p>O sistema é dividido em quatro partes: coletores, processadores, armazenagem e visualização.</p>
      </div>
      <div>
        <h2><i class="icon-braces valign-middle"></i> 3 - COLETORES </h2>
        <p>Um coletor é um script que executa uma tarefa periodicamente em um determinado cronograma, como por exemplo: “coletar conteúdo, imagem, data e outras informações de um perfil no Facebook de janeiro de 2011 até dezembro de 2022”.</p>

        <p><b>FACEBOOK - INSTAGRAM - TWITTER - YOUTUBE - TELEGRAM</b></p>

        <p>Os dados (em formato texto) são apresentados em cada metamemo, enquanto as imagens (arquivos que exigem mais memória) são armazenados em um servidor próprio.
        </p>
      </div>
    </div>
    <div class="col s12 m4">
      <div>
        <h2><i class="icon-vector valign-middle"></i> 4 - PROCESSADORES </h2>
        <p>Após coletados e processados, os dados são armazenados em um banco de dados com suporte a full-text search,ou seja: que a busca por palavras possa retornar automaticamente uma ou todas as palavras buscadas, não apenas a palavra exata.
        </p>
      </div>
      <div>
        <h2><i class="icon-cloud-arrow-down valign-middle"></i> 5 - ARMAZENAGEM </h2>
        <p>Depois dos dados serem coletados, processados e armazenados, eles então serão mostrados em uma interface visual acessível. Uma busca por um metamemo de uma determinada pessoa, num período delimitado, retorna uma série de postagens, que são visualizadas divididas por rede social, com a possibilidade de clicar em cada post para ver o texto e a imagem (ou vídeo) na íntegra em outra tela.</p>
        <p>A primeira implementação da MetaMemo foi o projeto chamado BOLSODATA, que inclui a Família Bolsonaro (Jair, o pai, e seus filhos Flávio, Carlos e Eduardo), todos figuras públicas (Presidente, Senador, Vereador e Deputado) de notório interesse público no Brasil quando o projeto começou (2021). A proposta foi então organizar a coleta, processamento, armazenamento e visualização dos dados das redes sociais dessas quatro pessoas. </p>
        <p>Para este caso, também foi preparado material extra: <br>
          _ Informações do contexto brasileiro sobre o período coletado (2010-2022), de forma a facilitar o entendimento de um fato isolado vivenciado ou comentado pelos citados com o que estava acontecendo no Brasil no mesmo momento.
          _ Uma reportagem cronológica sobre os Bolsonaros a partir de pesquisa em arquivos (mídia impressa, digital e audiovisual) em forma de Linha do Tempo - Os Bolsonaros 1951-2018;
          _ Coletor de notícias de veículos de mídia (Folha de S.Paulo, G1 e Estadão);
          _ Reprodução da capa de jornais (Folha de S. Paul
        </p>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <hr>
  <div class="row">
    <div class="col s12 offset-m2 m4">
      <h2>HISTÓRICO</h2>
      <p>O projeto começou em outubro de 2021 com a organização de duas frentes de trabalho: desenvolvimento, responsável por buscar soluções técnicas para coletar, armazenar e processar os dados; e pesquisa, responsável pela organização dos materiais coletados, pesquisa de conteúdo relacionados, entrevistas com pesquisadores e jornalistas que fazem ou fizeram trabalho semelhante e concepção da visualização final dos dados (a plataforma) - esta parte logo depois desmembrada em design, em comunicação direta também com o desenvolvimento. No mês seguinte, a frente de parcerias surgiu para organizar formas de trabalhar com as coleções de memórias da MetaMemo em colaboração com outras organizações, pessoas, grupos e coletivos, seja a partir de parcerias diretas ou no estímulo a pesquisadores e projetos que possam utilizar os dados das MetaMemos. </p>
    </div>
    <div class="col s12 m4">
      <h2>PESQUISA</h2>
      <p>A pesquisa conceitual para o projeto foi realizada a partir de uma investigação exploratória, com entrevistas semi-estruturadas com cerca de 10 pesquisadores e jornalistas que trabalham com materiais de arquivo digital e/ou pesquisam temáticas ligadas à políticas e tecnologias. O objetivo foi buscar mais informações sobre como pesquisadores e jornalistas fazem suas investigações com fontes digitais, quais as dificuldades de pesquisa ligadas às redes sociais, os desafios da pesquisa sobre temas de política brasileira na internet, os cuidados necessários para a segurança e o anonimato quando os tópicos podem trazer riscos aos investigadores; as formas de extrair, processar e armazenar massa de dados; ferramentas mais utilizadas; compartilhamento de bases de dados dos mesmos tópicos do projeto; entre outros temas. As entrevistas não foram divulgadas externamente. </p>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col s12 offset-m2 m8 white-text metagreen">
      <div class="container">
        <h2 class="center-align white-text">BOLSODATA</h2>
        <p>A primeira implementação da MetaMemo foi o projeto chamado BOLSODATA, que reuniu as postagens da Família Bolsonaro (Jair e seus filhos Flávio, Carlos e Eduardo), todos figuras públicas (Presidente, Senador, Vereador e Deputado) de notório interesse público no Brasil quando o projeto começou (2021). </p>
        <p>A proposta foi então organizar a coleta, processamento, armazenamento e visualização dos dados das redes sociais dessas quatro pessoas. Para este caso, também foram  inseridas informações sobre fatos de interesse público ocorridos no Brasil no período coletado (2010-2021), de forma a contextualizar as informações postadas nas redes sociais; e uma reportagem cronológica, em formato de linha do tempo, chamada “Os Bolsonaros - 1951-2018, com informações coletadas em livros, veículos jornalísticos (mídia impressa, digital e audiovisual), acervo da Câmara dos Deputados, entre outras fontes.</p>
        <p>A escolha deste case específico ajuda a ilustrar como pode funcionar a MetaMemo demonstra as funcionalidades e formas de visualização da plataforma como também para a equipe desenvolvedora testar soluções para uma efetiva realização das etapas de coleta, processamento e armazenamento dos dados.</p>
        <p>
          <b>ETAPA 1: OUTUBRO / NOVEMBRO / DEZEMBRO DE 2021</b>
          </p><ul class="browser-default">
          <li>Testes com raspadores de dados de redes sociais já existentes, seja em plataformas proprietárias (como CrowdTangle) como em outros com código disponizibilizados no Github ou GitLab;</li>
          <li>Primeiras raspagens dos dados das redes dos Bolsonaros, processamento do material bruto coletado de forma a facilitar a visualização;</li>
          <li>Entrevistas de contexto com pesquisadores e pessoas que estão coletando informações adjacentes;</li>
          <li>“Raspagem manual” de matérias na mídia sobre Bolsonaros (2010-2021) para pesquisa para reportagem - Linha do tempo e sobre fatos ocorridos no Brasil no período. </li>
          <li>Produção da linha do tempo Brasil, com fatos relevantes no país de 2010 até 2021;</li>
          <li>Checagem e seleção dos campos para serem apresentados na plataforma: após raspagem, “pente fino” nas informações para selecionar o que precisa ser visualizado na plataforma final e o que pode ser descartado (ou deixado de pano de fundo);</li>
        </ul>
        <p></p>
        <p>
          <b>ETAPA 2: JANEIRO, FEVEREIRO E MARÇO DE 2022</b>
          </p><ul class="browser-default">
          <li>Construção do back end do site com os dados já coletados no sistema Django;</li>
          <li>Refinamento dos raspadores e dos dados raspados das redes sociais (Facebook, Instagram, Twitter, YouTube);</li>
          <li>Pesquisa de formas de processamento dos dados coletados visando público final (nuvem de tags, transcrição automáticas de vídeos);</li>
          <li>Construção da marca e das telas de navegação do portal;</li>
          <li>Finalização dos textos de apoio no site; </li>
          <li>Navegação assistida da versão beta da plataforma pelo Conselho Consultivo e convidados;</li>
          <li>Apuração, redação e edição de uma linha do tempo sobre os Bolsonaros (mídia impressa, digital e audiovisual) em uma reportagem em forma de Linha do Tempo - Os Bolsonaros 1951-2018.</li>
          <li>Continuidade das entrevistas de contexto com pesquisadores e pessoas que estão coletando estas informações;</li>
          <li>Formação e organização do Conselho Consultivo com uma parte dos pesquisadores entrevistados;</li>
          <li>Determinação das políticas de privacidade e uso da plataforma, bem como a licença jurídica escolhida;</li>
          <li>Desenvolvimento de parcerias para o evento de lançamento do projeto;</li>
          <li>Concepção e produção do projeto de microbolsas para fomentar outras pessoas a desenvolverem aplicações, visualizações e novas pesquisas com a com a primeira implementação, metamemo Bolsodata;</li>
          <li>Documentação do processo realizado;</li>
        </ul>
        <p></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
