{% extends 'base.html' %}
{% load static %}
{% load metamemoapp_extras %}
{% block title %}Timeline | MetaMemo{% endblock %}
{% block page_class %}timeline{% endblock %}
{% block timeline %}
<style id="timeline_style"></style>
<script type="text/javascript" src="{% static 'js/timeline.js' %}"></script>
{% endblock %}

{% block content %}
<header id="ovo">
<div class="metagreen">
  <div class="container">
    <h1 class="white-text center-align"><small>Linha do Tempo</small> Família <br class="hide-on-med-and-up"> Bolsonaro</h1>
  </div>
</div>
<div class="metablue">
  <div class="row no-margin height100">
    <div class="col s12 offset-m1 m4 white-text height100">
      <div class="valign-wrapper height100">
        <p class="right-align center-align-s font24">Selecione um personagem para ver a linha do tempo</p>
      </div>
    </div>
    <div class="col s12 m6 white-text height100 valign-wrapper">
      <div class="row no-margin no-padding-s timeline-seletor">
      </div>
    </div>
  </div>
</div>
</header>

<section class="sobre no-padding-bottom">
  <div class="container">
    <div class="row grey lighten-4 valign-wrapper">
      <div class="col s12 m6 no-padding"><img src="https://picsum.photos/570/493?sdsd" width="100%"></div>
      <div class="col s12 offset-m1 m5">
        <h2 class="metagreen-text">Pesquise fatos direto no metamemo</h2>
        <p>Continue a linha do tempo na ferramenta de pesquisa da MetaMemo</p>
        <a id="link-to-search" href="{% url 'lista' %}" data-href="{% url 'lista' %}" class="btn metapink white-text">Acesse aqui</a>
      </div>
    </div>
  </div>
</section>
<div id="modal1" class="modal timeline-modal" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);">
  <div class="modal-content">
    <p class="radius8 metapink white-text"><b>Janeiro de 1971</b> -  Bolsonaro começa a colaborar com o jornal O Estado de S. Paulo, enviando palavras cruzadas. Foram 21 colaborações até 1976.</p>
    <img src="timeline.php_files/251.jpeg" alt="" class="z-depth-3">
    <p class="radius8 metapink white-text"><b>Abril de 1888</b> - Vittorio
      Bolsonaro emigra de Anguillara, na região do Vêneto, nordeste da
      Itália, para o Brasil. Aos dez anos, viaja com o pai, a mãe e dois
      irmãos. Desembarcaram em Santos. Angelo, seu filho, casou com uma
      brasileira descendente de alemães e teve Percy Geraldo, pai de Jair
      Messias Bolsonaro em 1927.</p>
    <p class="radius8 metapink white-text"><b>Abril de 1888</b> - Vittorio
      Bolsonaro emigra de Anguillara, na região do Vêneto, nordeste da
      Itália, para o Brasil. Aos dez anos, viaja com o pai, a mãe e dois
      irmãos. Desembarcaram em Santos. Angelo, seu filho, casou com uma
      brasileira descendente de alemães e teve Percy Geraldo, pai de Jair
      Messias Bolsonaro em 1927.</p>
  </div>
</div>
{% endblock %}
