UID=1000
GID=1000
HOST_PORT=5173
CONTAINER_PORT=5173
DOCKER_NAME=frontend-metamemo

CURRENT_DIR=$(patsubst %/,%,$(dir $(realpath $(firstword $(MAKEFILE_LIST)))))
ROOT_DIR=$(CURRENT_DIR)
DOCKER_COMPOSE=docker compose
DOCKER_EXEC_TOOLS_APP=docker exec -it $(DOCKER_NAME) sh
NODE_INSTALL="npm i"
BUNDLE_RUN="npm run build"
CLEAN_RUN="rm -r dist/*"
SERVER_RUN="npm run dev -- --host"

VITE_API_URL=/api
VITE_BLOG_LINK=https://medium.com/@metamixblog
