wheel

django
mysqlclient
python-decouple
ffmpeg-python
yt-dlp
youtube_dl
Pillow

google-cloud-speech
google-cloud-language
google-cloud-storage
pydub

facebook_scraper

celery
celery-progress
django-celery-results


yake

lxml

django-import-export

django-storages
boto3

tweepy

telethon
cryptg
aiohttp

django-debug-toolbar
django-filter
django-summernote
django-tastypie
