Pillow
aiohttp
boto3
celery
celery-progress
cryptg
django-celery-results
django-filter
django-import-export
django-storages
django-summernote
django-tastypie
django==3.2.11
facebook_scraper
ffmpeg-python
google-cloud-language
google-cloud-speech
google-cloud-storage
lxml
mysqlclient
pydub
python-decouple
telethon
tweepy
wheel
yake
youtube_dl
yt-dlp
