Django==4.0.7
Pillow==9.1.0
Telethon==1.24.0
aiohttp==3.8.1
boto3==1.21.13
celery-progress==0.1.2
celery==5.2.3
cryptg==0.2.post4
dj_database_url==1.0.0
django-celery-results==2.2.0
django-debug-toolbar==3.2.4
django-filter==21.1
django-import-export==2.7.1
django-storages==1.12.3
django-summernote==0.8.20.0
django-tastypie==0.14.4
facebook-scraper==0.2.54
ffmpeg-python==0.2.0
google-cloud-language==2.3.2
google-cloud-speech==2.12.0
google-cloud-storage==2.1.0
lxml==4.8.0
mysqlclient==2.1.0
psycopg2-binary==2.9.3
pydub==0.25.1
python-decouple==3.6
redis==4.3.4
tweepy==4.8.0
yake==0.4.8
youtube-dl==2021.12.17
yt-dlp==2022.3.8.2
