*{
    /*font-family: 'Mulish', sans-serif;*/
    font-family: 'Fira Sans',  sans-serif !important; 
}

.pages, .home{
	background-color: #462F87;
}

header{
	
	background-color: #F4F4F4;
	height: 88px;
}

nav{

}


header nav a{
	text-decoration: none;
	color: #373F41;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	margin-top: 35px;
}


header nav a:first-child{
	margin-top: 32px;
}

.img-metamemo-logo{
	max-width: 170px
}

.main-content{
	background-color: #F4F5F4;
	padding-top: 28px;
}

.breadcrumb *{
	font-size: 12px;
	color: #373F41;
}

.breadcrumb{

}

.select-filtro{
	font-size: 13px;
}

.btn-white{
	background-color: #ffffff;
}



/* HOME */

.home-top{
	position: relative;
	background-color: #3478B7;
	z-index:  3;

	
}

.home-top-bg{
	background: url(imgs/pattern@3x.png);
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .4;
	width: 100%;
	height: 100%;

}

.home-card-busque{
	max-width: 570px;
	border-radius: 8px;
	margin-top: 81px;
	margin-bottom: 81px;
	padding: 20px;
}

.home-card-busque .card-heading{
	max-width: 100%;
	font-family: 'Fira Sans' !important; 
}

.home-card-busque .card-body{
	background-color: #F4F5F4 !important;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 6px;
}

.home-card-busque svg{
	min-width: 38px;
	min-height: 38px;
	margin-left: 12px;
}

.home-card-busque .card-body h3{
	font-size: 25px;
}

.card-body label{
	font-size: 14px;
}

.home-card-busque h2{
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: solid 1px #000000;
	font-size: 45px !important;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;

}

.btn-check-metamemo{
	font-size: 14px;
	margin: 8px;
}


.btn-ver-arquivo{
	height: 57px;
	width: 100%;
	border-radius: 8px;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	background-color: #EF5DA8;
	margin-top: 43px;

}

.home-card-busque h2 strong{
	font-weight: bolder;

}

.home-h-a-metamemo{
	color: #ffffff;
	margin-top: 225px;	
	font-family: Fira Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 300;
	line-height: 39px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
}

.home-h-a-metamemo strong{
	font-weight: 700;
}