@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&family=Mulish:wght@300;400;600&display=swap');

*{
	
    /*font-family: 'Mulish', sans-serif;*/
    font-family: sans-serif, 'Fira Sans';
}

.pages, .home{
	background-color: #462F87;
}

header{
	
	background-color: #F4F4F4;
	height: 88px;
}
nav{

}


header nav a{
	text-decoration: none;
	color: #373F41;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	margin-top: 35px;
}


header nav a:first-child{
	margin-top: 32px;
}

.img-metamemo-logo{
	max-width: 170px
}

.main-content{
	background-color: #F4F5F4;
	padding-top: 28px;
}

.breadcrumb *{
	font-size: 12px;
	color: #373F41;
}

.breadcrumb{

}

.select-filtro{
	font-size: 13px;
}

.btn-white{
	background-color: #ffffff;
}



/* HOME */

.home-top{
	position: relative;
	background-color: #3478B7;
	z-index:  3;

	
}

.home-top-bg{
	background: url(imgs/pattern@3x.png);
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .4;
	width: 100%;
	height: 100%;

}

.home-card-busque{
	max-width: 570px;
	border-radius: 8px;
	margin-top: 81px;
	margin-bottom: 81px;
}

.home-card-busque .card-body{
	background-color: #F4F5F4 !important;
	border-radius: 8px;
	max-width: 527px;
	margin: 0px auto 6px auto;
}

.home-card-busque .card-body h3{
	font-size: 25px;
}

.card-body label{
	font-size: 14px;
}

.home-card-busque h2, .home-card-busque h2 strong{
	margin-top: 60px;
	font-size: 45px !important;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;

}


.home-card-busque h2 strong{
	font-weight: bolder;

}

