{% extends 'base.html' %}
{% load static %}
{% load metamemoapp_extras %}
{% block title %}Metamemo - Resultado da busca{% endblock %}
{% block page_class %}list search{% endblock %}

{% block content %}

<section class="container">
	<div class="container">
		<div class="breadcrumb">
			<a href="{% url 'home' %}">Home</a> &gt; 
			<a href="{% url 'search' %}">Busca</a> &gt; 
			<a href="#">Resultados Metamemos</a>  
		</div>
		
		{% include 'list/advform.html' %}
		
	</div>
</section>
<section class="resultado-busca">
	<div class="row">
		<div class="col s12 resultado-social">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<a href="{% static 'data/database.csv' %}" target="_blank" class="btn"><i class="icon-download3 left"></i> Download dos dados</a>
					</div>
				</div>
				<div class="row">
				<!-- MetaItem -->
				<table class="striped">
					<thead>
						<tr>
							<th></th>
							<th>Título</th>
							<th>Rede</th>
							<th>Data</th>
							<th>Hora</th>
							<th>Metamemo</th>
							<th>Url</th>
							<th>Mídia</th>
						</tr>
					</thead>
					<tbody>
						{% for item in data.memoitem %}
						<tr>
							<td><a href="{% url 'memoitem' item.pk %}">[o]</a></td>
							<td>{{item.title}}</td>
							<td>{{item.memosource}}</td>
							<td>{{item.content_date|date:"d/m/Y"}}</td>
							<td>{{item.content_date|date:"H:i"}}</td>
							<td>{{item.author.name}}</td>
							<td><a href="">Post original</a></td>
							<td>
								{% if item.media %}
									[video]
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- MetaItem -->
			</div>
			</div>
		</div>
	</div>
</section>

{% block debug %}
<!--	<div>
		<h2>Debug Filter</h2>
		<form method="get">
			{{ data.memofilter.form.as_p }}
			<input type="submit" />
		</form>
	</div>-->
{% endblock debug %}

{% endblock content %}