{% extends "results.html" %}
{% load static %}
{% load metamemoapp_extras %}

{% block results_bar %}
{% include 'list/paginator.html' %}
{% endblock results_bar %}

{% block results_header %}
<div class="col s2"> Período </div>
<div class="col s10"> Contexto </div>
{% endblock results_header %}

{% block results_content %}
<div class="col s2">
  <p class="context-datetime">
    <b>
      {% if item.start_date|date:'Y-m-d' == item.end_date|date:'Y-m-d' or not item.end_date %}
      {{ item.start_date|date }}
      {% else %}
      {{ item.start_date|date }}
      <br>
      a
      <br>{{ item.end_date|date }}
      {% endif %}
    </b>
  </p>
</div>
<div class="col s10">
  <p>
    {{ item.context }}
    <br>
    Acesse a <a href="{{ item.url }}">fonte</a>.
  </p>
</div>
{% endblock results_content %}
