{% load static %}
{% load metamemoapp_extras %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&family=Mulish:wght@300;400;600&display=swap" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/metamemo.css' %}">

    <title>Metamemo</title>
  </head>
  <body class="pages home">
    <header class="site-header sticky-top align-middle">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="col-2">
          <img src="{% static 'imgs/metamemo.png' %}" class="img-metamemo-logo">
        </a>
        <div class="col-10 text-center">
          <a class="py-2 d-none d-md-inline-block" href="#">Quem Somos</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Linha do Tempo</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Metodologia</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Contato</a>
        </div>
        
      </nav>
    </header>
    <div class="container-fluid home-top">
      <div class="container">
        <div class="home-top-bg"></div>
          <form action="list/" method="post">
            {% csrf_token %}
            <div class="row">

              <div class="col-6">
                <div class="card card-default home-card-busque">
                  <div class="card-heading">
                    <h2>Busque um <strong>metamemo</strong></h2>
                  </div>
                  <div class="card-body bg-light">
                    <h3>Selecione uma ou mais redes</h3>

                    <input type="checkbox" class="btn-check btn-check-metamemo" id="check_fb" name="social_list" value="facebook" autocomplete="off" >
                    <label class="btn btn-white btn-outline-secondary btn-sm" for="check_fb"><img src="{% static 'imgs/fb_off.svg' %}"></label>

                    <input type="checkbox" class="btn-check btn-check-metamemo" id="check_tw" name="social_list" value="twitter" autocomplete="off" >
                    <label class="btn btn-white btn-outline-secondary btn-sm" for="check_tw"><img src="{% static 'imgs/tw_off.svg' %}"></label>

                    <input type="checkbox" class="btn-check btn-check-metamemo" id="check_yt" name="social_list" value="youtube" autocomplete="off" >
                    <label class="btn btn-white btn-outline-secondary btn-sm" for="check_yt"><img src="{% static 'imgs/yt_off.svg' %}"></label>

                    <input type="checkbox" class="btn-check btn-check-metamemo" id="check_ig" name="social_list" value="instagram" autocomplete="off" >
                    <label class="btn btn-white btn-outline-secondary btn-sm" for="check_ig"><img src="{% static 'imgs/ig_off.svg' %}"></label>

                    <input type="checkbox" class="btn-check btn-check-metamemo" id="check_bl" name="social_list" value="blog" autocomplete="off" >
                    <label class="btn btn-white btn-outline-secondary btn-sm" for="check_bl"><img src="{% static 'imgs/bl_off.svg' %}"></label>


                  </div>

                  <div class="card-body bg-light">
                    <h3>Selecione um ou mais METAmemos</h3>
                    {% for metamemo in metamemo_list %}
                    <!-- <button type="button" class="btn btn-white  btn-outline-secondary btn-sm">{{metamemo.name}}</button> -->
                    <input type="checkbox" class="btn-check btn-check-metamemo" id="check_{{metamemo.pk}}" name="metamemo_selected_list" value="{{metamemo.name}}" autocomplete="off" >
                    <label class="btn btn-white btn-outline-secondary btn-sm" for="check_{{metamemo.pk}}">{{metamemo.name}}</label>
                    {% endfor %}
                  </div>

                  <div class="card card-body bg-light">
                    <h3>*Selecione um período</h3>
                    <div class="row g-3">
                      <div class="col-md-6">
                        <label for="start_date" class="form-label">Início</label>
                        <input type="date" class="form-control" id="start_date"  onchange="dateFormat(this)"  id="start_date" placeholder="dd/mm/aaaa" name="start_date" min="24-01-2000" max="21-01-2050">
                      </div>
                      <div class="col-md-6">
                        <label for="end_date" class="form-label">Fim</label>
                        <input type="date" class="form-control" id="end_date"  onchange="dateFormat(this)"   name="end_date" placeholder="dd/mm/aaaa"  min="24-01-2000" max="21-01-2050">
                      </div>
                    </div>
                    <div  class="row g-3">
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary col-12 btn-ver-arquivo">Ver Arquivos</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-6">
                <h1 class="home-h-a-metamemo">
                  A <strong>MetaMemo</strong> é um sistema
                  <br> para coletar,
                  <br>armazenar e visualizar as
                  <br>memórias de qualquer
                  <br>pessoa (ou organização,
                  <br>coletivo, empresa, marca)
              </div>
            </div>
          </form>    
      </div>
    </div>

    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
      function dateFormat(e)
      {
        // br_date = document.getElementById(e.id).value.replace(/(\d*)-(\d*)-(\d*).*/, '$3/$2/$1');
        // document.getElementById(e.id).value = br_date;

      }
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
