{% extends 'base.html' %}
{% load static %}
{% load metamemoapp_extras %}
{% block title %}Metamemo{% endblock %}
{% block page_class %}integra{% endblock %}
{% block content %}

    <div class="container-fluid home-top">
      <div class="container integra-main">
        <div class="home-top-bg"></div>
          
        <div class="row">
          <div class="col-6 offset-3">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Buscas</li>
                <li class="breadcrumb-item active" aria-current="page">Resultados Metamemos</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-3">
            <h1>{{data.memoitem.title}}</h1>
            <h5>Conteúdo</h5>
            <p>{{data.memoitem.content}}</p>
            <img src="{% static 'imgs/pixel.jpg' %}" class="img_integra"/>
          </div>
          
        </div>

        <div class="row">
          <div class="col-3 offset-3">
            <h5>Métricas de engajamento</h5>
            <div class="div-likes-comments-integra">
              <p>
                <img src="{% static 'imgs/like.svg' %}">
                <br>
                {{data.memoitem.likes}}
              </p>
              <p>
                <img src="{% static 'imgs/like.svg' %}">
                <br>
                {{data.memoitem.interactions}}
              </p>
            </div>
          </div>
          <div class="col-3">
            <h5 class="h3-content-data"><img src="{% static 'imgs/clock.svg' %}"> {{data.memoitem.content_date|date:'h:m'}}  <img src="{% static 'imgs/calendar2.svg' %}">  {{data.memoitem.content_date|date:'d/m/Y'}} </h5>
          </div>
          
        </div>

          
      </div>
    </div>

    {% endblock %}
    