{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/metamemo.css' %}">

    <title>Metamemo</title>
  </head>
  <body class="pages list" style="background-color: #ffffff;">
    <header class="site-header sticky-top align-middle">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="col-2">
          <img src="{% static 'imgs/metamemo.png' %}" class="img-metamemo-logo">
        </a>
        <div class="col-10 text-center">
          <a class="py-2 d-none d-md-inline-block" href="#">Quem Somos</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Linha do Tempo</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Metodologia</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Contato</a>
        </div>
      </nav>
    </header>
<!-- 
    start_date {{data.start_date}}<br>
    end_date {{data.end_date}}<br>
    metamemo_selected_list {{data.metamemo_selected_list}} <br>
    social_list {{data.social_list}} <br> -->

    <div class="container">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item" aria-current="page">Bucas</li>
          <li class="breadcrumb-item active" aria-current="page">Resultados Metamemos</li>
        </ol>
      </nav>
    </div>
    <div class="container">
      
      <!-- Filters START -->

      <div class="row">
        <div class="col-2">
          <span class="bi bi-filter">Filtros</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </div>
        <div class="col-2">
          <input type="date" class="form-control select-filtro" id="start_date" name="end_date" placeholder="dd/mm/aaaa"  min="24-01-2000" max="21-01-2050">
        </div>
        <div class="col-2">
          <input type="date" class="form-control select-filtro" id="end_date" name="end_date" placeholder="dd/mm/aaaa"  min="24-01-2000" max="21-01-2050">
        </div>
        <div class="col-3">
          <select class="form-select select-filtro" aria-label="Default select example">
            <option selected>Mais recentes</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <!-- Filters END -->

      <!-- Social Media Icons START -->
      <div class="row">
        
        <div class="col-12">
            
          <input type="checkbox" class="btn-check btn-check-metamemo" id="check_fb" name="social_list" value="facebook" autocomplete="off" >
          <label class="btn btn-white btn-outline-secondary btn-sm" for="check_fb"><img src="{% static 'imgs/fb_off.svg' %}"></label>

          <input type="checkbox" class="btn-check btn-check-metamemo" id="check_tw" name="social_list" value="twitter" autocomplete="off" >
          <label class="btn btn-white btn-outline-secondary btn-sm" for="check_tw"><img src="{% static 'imgs/tw_off.svg' %}"></label>

          <input type="checkbox" class="btn-check btn-check-metamemo" id="check_yt" name="social_list" value="youtube" autocomplete="off" >
          <label class="btn btn-white btn-outline-secondary btn-sm" for="check_yt"><img src="{% static 'imgs/yt_off.svg' %}"></label>

          <input type="checkbox" class="btn-check btn-check-metamemo" id="check_ig" name="social_list" value="instagram" autocomplete="off" >
          <label class="btn btn-white btn-outline-secondary btn-sm" for="check_ig"><img src="{% static 'imgs/ig_off.svg' %}"></label>

          <input type="checkbox" class="btn-check btn-check-metamemo" id="check_bl" name="social_list" value="blog" autocomplete="off" >
          <label class="btn btn-white btn-outline-secondary btn-sm" for="check_bl"><img src="{% static 'imgs/bl_off.svg' %}"></label>


        </div>
      </div>

      <!-- Social Media Icons END -->

      <!-- Selected Search START -->
      <div class="row">
        
        <div class="col-12">
          {% for metamemo in data.metamemo_selected_list %}
          <!-- TO DO: acertar a PK -->
          <input type="checkbox" class="btn-check btn-check-metamemo" id="check_{{pk}}" name="metamemo_selected_list" value="{{metamemo}}" autocomplete="off" >
          <label class="btn btn-white btn-outline-secondary btn-sm" for="check_{{pk}}">{{metamemo}}</label>
          {% endfor %}
        </div>
      
      </div>
      <!-- Selected Search START -->

      <!-- Search box START -->
      <div class="row">
        
        <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Procure por termos específicos. Ex. Amazônia">
              <label for="floatingInput">Procure por termos específicos. Ex. Amazônia </label>
            </div>
        </div>
      
      </div>
      <!-- Search box END -->

      <!-- Results START -->
      
      



      <div class="row">
        
        <!-- SOCIAL MEDIA RESULTS START -->
        <div class="col-6">
            
          
          <div class="row">
            
            <div class="col-12">
                <button type="button" class="btn btn-light">Download dos dados</button>
            </div>
          
          </div>

          {% for memoitem in data.memoitem_list %}

          <div class="row">
            
            <div class="col-12">
                

              <div class="card" style="min-width: 370px;">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"/>
                    <path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z"/>
                  </svg>
                  15/11/2021
                </div>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#110022" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                </svg> 10.380.361 likes na página
                
                <div class="card-body">
                  <h5 class="card-title">{{memoitem.title}}</h5>
                  <p class="card-text">
                      {{memoitem.content}}
                  </p>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                  </svg>
                  1548

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-quote-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm7.194 2.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 4C4.776 4 4 4.746 4 5.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 7.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 4c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
                  </svg>
                  99
                  
                </div>
              </div>
            </div>
          
          </div>

          {% endfor %}

            

        </div>




        <!-- SOCIAL MEDIA RESULTS END -->


        <!-- CONTEXT START -->
        <div class="col-6">
          
        <! -- CARROSEL START -->
        {% for c in memocontext_list %} 
        <div class="row">
          
            <div class="col-12">
                <h3>Contexto Histórico do Periodo [Carrocel]</h3>
            </div>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="..." class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="..." class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                  
                  </div>
                   <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div> 
        
          </div>
        {% endfor %}


        </div>
        <! -- CARROSEL END -->

          <div class="row">
              
              <div class="col-12">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"/>
                    <path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z"/>
                  </svg>
                  15/11/2021
                </div>
                <p class="">
                    <a href="">Amazônia não pega fogo', diz Bolsonaro em Dubai; comitiva vende um Brasil distante da realidade</a>
                    <br>
                    [<img src="" alt="terra logo img">]
                </p>
              </div>

          </div>
            

        </div>

        <!-- CONTEXT END -->
      
      </div>
      <!-- Results END -->

    </div>

    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
