{% load metamemoapp_extras %}

<div class="metasearch filters row">
    <div class="row">
        <div class="col s12 m2">
            <input id="start_date" class="datepicker" type="text" />
            <input id="start-date-hidden" value="{{data.date|date:'Y-m-d'}}" type="hidden" />
        </div>
        <div class="col s12 m2">
            <input id="end_date" class="datepicker" type="text" />
            <input id="end-date-hidden" value="{{data.date|date:'Y-m-d'}}" type="hidden" />
        </div>
    </div>
    
    <div id="sources" class="row social-icons">
        <div class="col s12">
            <span class="source transparent" data-source="Facebook"><span class="icon-face"><span class="path1"></span><span class="path2"></span></span></span>
            <span class="source transparent" data-source="Twitter"><span class="icon-twitter1"><span class="path1"></span><span class="path2"></span></span></span>
            <span class="source transparent" data-source="Youtube"><span class="icon-youtube1"><span class="path1"></span><span class="path2"></span></span></span>
            <span class="source transparent" data-source="Instagram"><span class="icon-instagram1"><span class="path1"></span><span class="path2"></span></span></span>
            <span class="source transparent" data-source="Telegram"><span class="icon-telegram"><span class="path1"></span><span class="path2"></span></span></span>
            <span class="source transparent" data-source="Blog"><span class="icon-blog1"><span class="path1"></span><span class="path2"></span></span></span>
        </div>
    </div>
    <div id="authors" class="row metamemo_filter">
         {% for name in data.metamemo %}
            <span class="author chip transparent" data-author="{{name}}"}>{{name}}</span>
         {% endfor %}
    </div>
    
    <div class="row">
        <div class="col s12">
        <label class="ipt-search">
            <input id="id_content" name="content" type="search" class="browser-default" placeholder="Procure por termos específicos. Ex. Amazônia" value={{data.memofilter.form.content.value}}>
        </label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <b>Tags</b> mais frequentes no dia
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% for tag in data.tags %}
            <span class="chip">{{tag.0}}</span>
            {% endfor %}
            
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="btn button" id="buscar">Buscar</a>    
        </div>
    </div>
</div>