{% load metamemoapp_extras %}
<div class="metasearch filters row">
    <div class="row">
        <div class="col s12 m2">
            <div class="input-field">
                <label class="active" for="start_date">Inicio</label>
                <input id="start_date" class="datepicker" type="text" />
                <input id="start-date-hidden"
                       value="{{ data.date|date:'Y-m-d' }}"
                       type="hidden"/>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="input-field">
                <label class="active" for="end_date">Final</label>
                <input id="end_date" class="datepicker" type="text" />
                <input id="end-date-hidden"
                       value="{{ data.date|date:'Y-m-d' }}"
                       type="hidden"/>
            </div>
        </div>
    </div>
    <div id="sources" class="row social-icons">
        <div class="col s12">
            {% for source, icon in data.social_sources.items %}
                <span class="source transparent" data-source="{{ source }}"><span class="icon-{{ icon }}"><span class="path1"></span><span class="path2"></span></span></span>
            {% endfor %}
        </div>
    </div>
    <div id="authors" class="row metamemo_filter">
        {% for memo in data.metamemo %}
            <span class="author chip transparent" data-author="{{ memo.name }}"}>{{ memo.name }}</span>
        {% endfor %}
    </div>
    <div id="search-bar" class="row">
        <div class="col s12">
            <label class="ipt-search">
                <input id="id_content"
                       name="content"
                       type="search"
                       class="browser-default"
                       placeholder="Procure por termos específicos. Ex. Amazônia">
            </label>
        </div>
    </div>
    {% if data.tags %}
        <div class="row">
            <div class="col s12">
                <b>Tags</b> mais frequentes no dia
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {% for tag in data.tags %}<span class="chip">{{ tag.0 }}</span>{% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col s12">
            <a class="big-btn btn button metapink white-text" id="buscar">Buscar</a>
        </div>
    </div>
</div>
