{% load metamemoapp_extras %}
<div class="metasearch filters row">

  <div class="row">

    <div class="col s12 m3">
      <div class="input-field">
        <label class="active" for="start_date">Início</label>
        <input id="start_date" class="datepicker" type="text" />
        <input id="start-date-hidden"
        value="{{ data.date|date:'Y-m-d' }}"
        type="hidden"/>
      </div>
      <div class="input-field">
        <label class="active" for="end_date">Final</label>
        <input id="end_date" class="datepicker" type="text" />
        <input id="end-date-hidden"
        value="{{ data.date|date:'Y-m-d' }}"
        type="hidden"/>
      </div>
    </div>

    <div class="col s12 m1">
    </div>

    <div class="col s12 m4">
      <div id="sources" class="social-icons">
        {% for source, icon in data.social_sources.items %}
        <button class="source transparent" data-source="{{ source }}">
          <span class="icon-{{ icon }}{% if source == "Telegram" %} font35{% endif %}">
            <span class="path1{% if source != "Telegram" %} font35{% endif %}"></span>
            <span class="path2{% if source != "Telegram" %} font35{% endif %}"></span>
          </span>
        </button>
        {% endfor %}
      </div>
      <div id="authors" class="metamemo_filter">
        {% for memo in data.metamemo %}
        <span class="author chip transparent" data-author="{{ memo.name }}">
          {{ memo.name }}
        </span>
        {% endfor %}
      </div>
    </div>

    <div class="col s12 m4">
      <div id="search-bar" class="">
        <label class="ipt-search">
          <input id="id_content"
          name="content"
          type="search"
          class="browser-default"
          placeholder="Procure por termos específicos, ex: Amazônia"
          value="{{ content }}">
          <a class="big-btn btn button metapink white-text" id="buscar">Buscar</a>
        </label>
      </div>
    </div>

  {% if data.tags %}
  <div class="row">
    <div class="col s12">
      <b>Tags</b> mais frequentes no dia
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {% for tag in data.tags %}<span class="chip">{{ tag.0 }}</span>{% endfor %}
    </div>
  </div>
  {% endif %}

  </div>
