{% load static %}
{% load humanize %}
{% load metamemoapp_extras %}
<div class="container">
  <div class="resultado-cabecalio row">
    {# count #}
    <div class="col s12 m6 l3">
      <div class="results-total">
        <p class="metapink-text center-align text-bold">
          {% if data.results_total == 0 %}
          Nenhum arquivo encontrado
          {% elif data.results_total == 1 %}
          1 arquivo encontrado
          {% else %}
          {{ data.results_total|intcomma }} arquivos encontrados
          {% endif %}
        </p>
      </div>
    </div>
    {# sources #}
    {% static "imgs/noun-newspaper.png" as default_source_icon %}
    <div class="col s12 m6 l6 flex">
      {% for source, total in data.sources_total.items %}
      <div class="source-count">
        <span class="source" data-source="{{ source }}">
          <img width="50"
          height="50px"
          src="{{ data.sources|get_item:source|default_if_none:default_source_icon }}"
          alt="icon for {{ source }}"/>
        </span>
        <div class="metablue-text center-align">{{ total|intcomma }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
